<nav class="bg-gray-800 p-4 text-white flex justify-between">
  <div class="font-bold text-lg">Book Manager</div>

  <div class="space-x-4">
    <a href="/login" class="hover:text-gray-300">Login</a>
    <a href="/signup" class="hover:text-gray-300">Signup</a>
  </div>
</nav>
