<%- include("partials/head") %>
</head>
<body>
    <header>
        <%- include("partials/navbar") %>
    </header>
    <main>
       <%- include("partials/main", { totalStores, totalUsers, totalBooks }) %>
    </main>  
    <footer class="mb-0">
        <%- include("partials/footer") %>
    </footer>
</body>
</html>