<%- include("partials/head") %>
</head>
<body class="bg-gray-100">
  <%- include("partials/navbar") %>

  <div class="flex justify-center items-center h-screen">
    <form
      action="/login"
      method="POST"
      class="bg-white p-8 rounded shadow-md w-96">
      <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>

      <% if (message) { %>
        <div class="bg-red-200 text-red-800 p-3 rounded mb-4">
          <%= message %>
        </div>
      <% } %>

      <input
        type="email"
        name="email"
        placeholder="Email"
        autocomplete= "off"
        class="w-full mb-4 p-2 border rounded"/>

      <input
        type="password"
        name="password"
        placeholder="Password"
        autocomplete="off"
        class="w-full mb-4 p-2 border rounded"/>
      <p class="text-sm mb-3 text-right">
        <a href="/forgot-password" class="text-blue-500 hover:underline">
          Forgot Password?
        </a>
      </p>
      <button
        class="bg-blue-500 text-white w-full p-2 rounded hover:bg-blue-600">
        Login
      </button>
      <p class="text-sm mt-4 text-center">
        Didn't verify? 
        <a href="/resend-verification" class="text-blue-500">Resend Email</a>
      </p>
    </div>
    </form>
  </div>
</body>
</html>